body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16pt;
  }

header{
    background-attachment: fixed;
    background-image: url(../images/washtenaw.jpeg);  
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;     
}
h1{
    font-size: 2.5em;
    text-align: center;
    line-height: 2;
    padding-top: 50px;
    text-shadow: -1px 0 #50C7C7, 0 1px #50C7C7, 1px 0 #50C7C7, 0 -1px #50C7C7;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(40, end),
}

  
  h2{
    font-size: 2em;
    text-align: center;
    padding: 10px;
    /* color: #CCFFFF; */
    color: black;
    font-weight: bold;
    text-shadow: 
      0 1px 0 #99E5E5, 
      0 2px 0 #66CCCC, 
      0 3px 0 #33B2B2, 
      0 4px 0 #009999, 
      0 5px 0 #199999, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }
  #typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  p {
    padding: 10px;
    text-align: center;
  }
  
  footer{
      justify-content: center;
      font-size: 10pt;
      
  }

  .skipcont a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  nav{
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    list-style-type: none;
    top: 0; 
    padding: 10px;
  }

  nav li{
    display: block;
    padding-right: 20px;
  }

  .nav ul li a.active-page{
      border-style: solid;
      border-color: #50C7C7;
      font-weight: bold;

      
  }

  /* .nav a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  } */

  .skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute; /*Your code here - position relative to the parent */;
    top: -40px; /*Your code here - place 40px higher */;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .text-block{
      text-align: center;
      margin: 10px;
  }

  .skip a:focus{ 
    position: absolute;
    top: 0px;
  }


  


  @media screen and (max-width: 414px){
    nav li{
        display: inline;
        padding-right: 20px;
    }

    #profpic{
        max-width: 60%;
        padding: 20px;
    }
    #bighouse{
        max-width: 80%;
        padding: 20px;
    }
    #dock{
        max-width: 80%;
        padding: 20px;
    }
    #hike{
        max-width: 80%;
        padding: 20px;
    }
    #start{
        max-width: 80%;
        padding: 20px;
    }
    #taking-stern{
        max-width: 80%;
        padding: 20px;
    }
    #gybe{
        max-width: 80%;
        padding: 20px;
    }
    #double-trouble{
        max-width: 80%;
        padding: 20px;
    }
    #lobsters{
        max-width: 80%;
        padding: 20px;
    }
    #marker-portrait{
        max-width: 80%;
        padding: 20px;
    }
    #mural{
        max-width: 80%;
        padding: 20px;
    }
    #oifa{
        max-width: 80%;
        padding: 20px;
    }
    #orange-cow{
        max-width: 80%;
        padding: 20px;
    }
    #pen-cow{
        max-width: 80%;
        padding: 20px;
    }
    #still-life{
        max-width: 80%;
        padding: 20px;
    }
    #courtney{
        max-width: 80%;
        padding: 20px;
    }
    #washtenaw{
        max-width: 80%;
        padding: 20px;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }
  }

  @media screen and (min-width: 415px) and (max-width: 768px){
    nav li{
        display: inline;
        padding-right: 20px;
    }
    #profpic{
        max-width: 35%;
        padding: 20px;
    }
    #bighouse{
        max-width: 40%;
        padding: 20px;
    }
    #dock{
        max-width: 40%;
        padding: 20px;

    }
    #hike{
        max-width: 40%;
        padding: 20px;

    }
    #start{
        max-width: 40%;
        padding: 20px;

    }
    #taking-stern{
        max-width: 40%;
        padding: 20px;

    }
    #gybe{
        max-width: 40%;
        padding: 20px;

    }
    #double-trouble{
        max-width: 40%;
        padding: 20px;

    }
    #lobsters{
        max-width: 40%;
        padding: 20px;

    }
    #marker-portrait{
        max-width: 40%;
        padding: 20px;

    }
    #mural{
        max-width: 40%;
        padding: 20px;

    }
    #oifa{
        max-width: 40%;
        padding: 20px;
 
    }
    #orange-cow{
        max-width: 40%;
        padding: 20px;
    }

    #pen-cow{
        max-width: 40%;
        padding: 20px;

    }
    #still-life{
        max-width: 40%;
        padding: 20px;

    }
    #courtney{
        max-width: 40%;
        padding: 20px;

    }
    #washtenaw{
        max-width: 30%;
        padding: 20px;
    }
    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

  }

  @media screen and (min-width: 769px){
    #profpic{
        max-width: 30%;
        padding: 20px;
        border: solid;
        border-color: #50C7C7; 
    }
    #bighouse{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;
    }
    #dock{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #hike{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #start{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #taking-stern{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #gybe{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #double-trouble{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #lobsters{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #marker-portrait{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #mural{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #oifa{
        max-width: 40%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;
 
    }
    #orange-cow{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;
    }

    #pen-cow{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #still-life{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #courtney{
        max-width: 25%;
        padding: 15px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;

    }
    #washtenaw{
        max-width: 30%;
        padding: 20px;
        margin: 5px;
        border: solid;
        border-color: #50C7C7;
    }
    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .gallery img[src="images/bighouse.jpeg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/dock.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/hike.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/start.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/taking-stern.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/gybe.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/double-trouble.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/lobsters.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/marker-portrait.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/mural.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/oifa.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/orange-cow.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/pen-cow.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/courtney.jpg"]:hover{
        opacity: 0.3;
    }
    .gallery img[src="images/still-life.jpg"]:hover{
        opacity: 0.3;
    }

  }

  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: none !important;/* Your code here - set to default setting */
      transition: none !important;/* Your code here - set to default setting */
      z-index: 1;
    }
  
    .skip a:focus{
      top:0;
    }
    #typewriter{
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
          typing none,
          blink-caret none;
    }

  }